<div class="details-container">
  <h3>Results</h3>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title drugs">Drugs</h3>
    </div>
    <div class="panel-body">
      <table ng-repeat="o in results.drugs">
        <tr>
          <td>{{o.message}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title devices">Devices</h3>
    </div>
    <div class="panel-body">
      <table ng-repeat="o in results.devices">
        <tr>
          <td>{{o.message}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title foods">Foods</h3>
    </div>
    <div class="panel-body">
      <table ng-repeat="o in results.foods">
        <tr>
          <td>{{o.message}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>