<div class="details-container">
  <h3>Search Results</h3>

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="" aria-controls="profile" role="tab" data-toggle="tab" ng-click="activateResultsTab('foods')">
        <div ng-if="foodsQueryInProgress"><div class="loader">Loading...</div></div>
        <span class="loader-label">Foods ({{results.foods.length}})</span>
      </a>
    </li>
    <li role="presentation">
      <a href="" aria-controls="profile" role="tab" data-toggle="tab" ng-click="activateResultsTab('drugs')">
        <div ng-if="drugsQueryInProgress"><div class="loader">Loading...</div></div>
        <span class="loader-label">Drugs ({{results.drugs.length}})</span>
      </a>
    </li>
    <li role="presentation">
      <a href="" aria-controls="profile" role="tab" data-toggle="tab" ng-click="activateResultsTab('devices')">
        <div ng-if="devicesQueryInProgress"><div class="loader">Loading...</div></div>
        <span class="loader-label">Devices ({{results.devices.length}})</span>
      </a>
    </li>
  </ul>

  <div ng-switch="activeResultsTab">
    <div ng-switch-when="drugs">
      <div class="panel panel-default">
        <div class="panel-body">
          <p ng-if="results.drugs.length == 0 && !drugsQueryInProgress">No Results Found</p>
          <div ng-if="drugsQueryInProgress">Loading...</div>
          <ul ng-if="results.drugs.length > 0 && !drugsQueryInProgress" ng-repeat="result in results.drugs">
            <li>
              <dl>
                <dd><b>Brand Name: </b>{{result.openfda.brand_name[0]}}</dd>
                <dd><b>Manufacturer: </b>{{result.openfda.manufacturer_name[0] }}</dd>
                <dd><b>Sender: </b>{{result.recalling_firm}}</dd>
              </dl>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div ng-switch-when="devices">
      <div class="panel panel-default">
        <div class="panel-body">
          <p ng-if="results.devices.length == 0 && !devicesQueryInProgress">No Results Found</p>
          <div ng-if="devicesQueryInProgress">Loading...</div>
          <ul ng-if="results.devices.length > 0 && !devicesQueryInProgress" ng-repeat="result in results.devices">
            <li>
              <h5>{{result.product_description}}</h5>
              <dl>
                <dd><b>Device Name: </b>{{result.device[0].brand_name}}</dd>
                <dd><b>Brand Name: </b>{{result.device[0].generic_name}}</dd>
                <dd><b>Manufacturer: </b>{{result.device[0].manufacturer_d_name}}</dd>
                <dd><b>Recall Date: </b>{{result.date_received}}</dd>
                <dd><b>Reason: </b>{{result.event_type}}</dd>
                <dd><b>Code: </b>{{result.event_key}}</dd>
              </dl>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div ng-switch-when="foods">
      <div class="panel panel-default">
        <div class="panel-body">
          <p ng-if="results.foods.length == 0 && !foodsQueryInProgress">No Results Found</p>
          <div ng-if="foodsQueryInProgress">Loading...</div>
          <ul ng-if="results.foods.length > 0 && !foodsQueryInProgress" ng-repeat="result in results.foods">
            <li>
              <h5>{{result.product_description}}</h5>
              <dl>
                <dd><b>Recall Date: </b>{{result.primarysourcecountry}}</dd>
                <dd><b>Reason: </b>{{result.reason_for_recall}}</dd>
                <dd><b>Code: </b>{{result.code_info}}</dd>
              </dl>
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>