@charset "UTF-8";
/* CSS Document */

/* Bootstrap overrides */
body {
  padding-top: 70px;
  padding-bottom: 20px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
  background-color: #f7f7f8;
}

.navbar {
  font-family: 'Raleway', Helvetica, Arial, sans-serif !important;
  font-weight: 300;
  font-size: 16px;
  box-shadow: 0 2px 9px rgba(0, 0, 0, .2);
}

.navbar-brand {
  font-size: 30px;
  padding-right: 30px;
}

.navbar-brand strong {
  font-weight: 700;
}

.navbar-inverse {
  background: #aeb0b5;
  border: none;
  color: #00509a;
  border-color: #5c5f5b;
}

a.navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: #00509a !important;
  text-shadow: none !important;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-image: none;
  background-color: inherit;
  box-shadow: none;
}

.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav a:hover {
  background-color: #aeb0b5;
  box-shadow: inset 0 2px 9px rgba(0, 0, 0, .1);
}

.navbar-inverse .navbar-toggle {
  border: none;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #aeb0b5;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #5c5f5b;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 25px;
  background: none;
  background-color: #f7f7f8;
  font-size: 10px;
  border-radius: 0;
  padding-top: 5px;
  box-shadow: 0 2px 9px rgba(0, 0, 0, .3);
}

.footer p.copyright,
.footer p.copyright a {
  color: #aeb0b5 !important;
  text-decoration: none;
  font-size: 8px;
}

.nav-tabs > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-tabs,
.nav-tabs > li.active > a,
.nav-tabs > li > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: none;
  color: #00509a;
  border-radius: 2px 2px 0 0;
}

.nav-tabs > li > a:hover {
  background-color: #aeb0b5;
}

.nav-tabs > li > a {
  margin-right: 4px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif !important;
  font-weight: 700;
  color: #00509a;
}

.form-control {
  border-radius: 2px;
  margin-bottom: 10px;
}

.input-group-addon {
  border-radius: 2px;
}

.btn-primary {
  background-image: none;
  background-color: #00509a;
  border: none;
  border-radius: 2px;
}

.panel {
  border-radius: 2px;
}

/* Categories color palette */
.drugs {
  color: #7e9909;
}

.drugs-bkgd {
  background-color: #7e9909;
}

.devices {
  color: #6d0356;
}

.devices-bkgd {
  background-color: #6d0356;
}

.foods {
  color: #a75307;
}

.foods-bkgd {
  background-color: #a75307;
}

/* Secondary color palette */
.violet {
  color: #6d0fa9;
}

.violet-bkgd {
  background-color: #6d0fa9;
}

.brick {
  color: #b42f1b;
}

.brick-bkgd {
  background-color: #b42f1b;
}

.gold {
  color: #b48f1b;
}

.gold-bkgd {
  background-color: #b48f1b;
}

.green {
  color: #36b412;
}

.green-bkgd {
  background-color: #36b412;
}

/* Custom styles for openFDA Visualizer */
.main-contents {
  margin-bottom: 10px;
}

.details {
  border: solid 1px #bfc0c1;
  border-radius: 2px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
  margin-bottom: 10px;
  background-color: #f7f7f8;
}

.details h3 {
  margin-top: 0;
}

.details-container {
  padding: 20px 15px 1px 15px;
  background-color: #fff;
}

.details-container .btn-blue {
  margin-top: 10px;
  font-size: 18px;
  padding: 6px 20px;
}

.resize {
  border-left: solid 1px #bfc0c1;
  border-bottom: solid 1px #bfc0c1;
  height: 30px;
  width: 30px;
  vertical-align: middle;
  text-align: center;
  color: #5c5f5b;
  float: right;
  background-color: #fff;
  font-size: 20px;
  padding-top: 2px;
}

a .resize {
  color: #5c5f5b;
}

a .resize:hover {
  background-color: #bfc0c1;
  font-size: 22px;
  padding-top: 0px;
}

/* Other theme styles */
.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.search-lg input.form-control {
  font-size: 20px;
  height: 50px;
}

.searchbar {
  margin: 0 auto;
  float: none;
}

/* Responsive overrides */
@media only screen and (max-width: 480px) {
  .navbar-brand {
    font-size: 24px;
    padding-right: 5px;
  }
}