#timesliderControl{
  width:100%;
  > svg {
    width: calc(100% + 50px);
  }
}

#mapPanel{
  margin-bottom: 30px;

  > div:first-of-type{
    border: solid 1px #bfc0c1;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    background-color: #f7f7f8;
  }

  > div{
    margin-bottom: 10px;
  }

  > div:last-of-type{
    margin-top: 30px;
  }
}

.map {
  border: solid 1px #bfc0c1;
  border-radius: 2px;
  height: 400px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
  background-color: #fff;
}

.map-dates {
  width: 100%;
  height: 34px;
}

.map-dates, .details-container{
  .date {
    margin-bottom: 10px;
    width: 48%;
  }
}

#map-slider {
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.leaflet-top, .leaflet-bottom{
  z-index: 0;
}

.footer{
  z-index: 10;
}

#resultsPanel{
  margin-bottom: 25px;

  .panel-body{
    height: 645px;
    overflow: scroll;

    ul > li > dl{
      margin-bottom: 0;
    }
  }

  .details-container{
    height: 750px;
  }

  .nav.nav-tabs{
    > li.active{
      > a{
        border: 1px solid #ddd;
      }
    }

    > li:not(.active){
      > a:hover {
        .loader:after {
          background: #aeb0b5;
        }
      }
    }

    > li > a > div{ //tab header loading spinner
      display: inline-block;

      .loader{
        width: 1.5em;
        height: 1.5em;
      }
    }
  }

  #drugsQueryInProgress, #devicesQueryInProgress, #foodsQueryInProgress{
    margin-left: 15px;
  }

  #devicesResultsList, #drugsResultsList, #foodsResultsList{
    > ul{
      padding: 8px 0 0 0;
      > li:hover{
        background: #aeb0b5;
        cursor: pointer;
      }
      > li {
        padding: 8px 15px 8px 15px;
        margin: 0;
        > dl > dd{
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}

@media(max-width: 768px){
  #devicesResultsList, #drugsResultsList, #foodsResultsList{
    > ul > li > dl > dd{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 400px;
    }
  }
}

@media(max-width: 540px){
  #devicesResultsList, #drugsResultsList, #foodsResultsList{
    > ul > li > dl > dd{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 300px;
    }
  }
}
@media(max-width: 460px){
  #devicesResultsList, #drugsResultsList, #foodsResultsList{
    > ul > li > dl > dd{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 250px;
    }
  }
}

.leaflet-control-layers-toggle {
  background-image: url(../img/layers.png);
  width: 36px;
  height: 36px;
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(../img/layers-2x.png);
  background-size: 26px 26px;
}

.angular-leaflet-map {
  width: 100%;
  height: 400px;
}

.leaflet-control-layers {
  visibility: hidden !important;
}

#detailModal{
  .modal-dialog{
    height: calc(100% - 100px);

    .modal-content{
      max-height: 100%;
      overflow: scroll;

      dd{
        margin-bottom:10px;
      }
    }
  }
}

.results-styling{
  list-style: none
}

//css loader
.loader-label{
  display: inline-block;
}
.loader {
  display: inline-block;
  font-size: 12px;
  padding-top: 4px;
  margin-right: 10px;
  text-indent: -9999em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: #737373;
  background: -moz-linear-gradient(left, #737373 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #737373 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #737373 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #737373 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #737373 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.1s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #737373;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}