#timesliderControl{
  width:100%;
  > svg {
    width: calc(100% + 50px);
  }
}

#mapPanel{
  margin-bottom: 30px;

  > div:first-of-type{
    border: solid 1px #bfc0c1;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    background-color: #f7f7f8;
  }

  > div{
    margin-bottom: 10px;
  }

  > div:last-of-type{
    margin-top: 30px;
  }
}

.map {
  border: solid 1px #bfc0c1;
  border-radius: 2px;
  height: 400px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
  background-color: #fff;
}

.map-dates {
  width: 100%;
  height: 34px;
}

.map-dates, .details-container{
  .date {
    margin-bottom: 10px;
    width: 48%;
  }
}

#map-slider {
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.leaflet-top, .leaflet-bottom{
  z-index: 0;
}

.footer{
  z-index: 10;
}

#resultsPanel{
  margin-bottom: 25px;

  .panel-body{
    height: 645px;
    overflow: scroll;

    ul > li > dl{
      margin-bottom: 0;
    }
  }

  .details-container{
    height: 750px;
  }

  .nav.nav-tabs > li.active > a {
    border: 1px solid #ddd;
  }
}

.leaflet-control-layers-toggle {
  background-image: url(../img/layers.png);
  width: 36px;
  height: 36px;
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(../img/layers-2x.png);
  background-size: 26px 26px;
}

.angular-leaflet-map {
  width: 100%;
  height: 400px;
}
