<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">open<strong>FDA Visualizer</strong></h3>
          <nav>
            <ul class="nav masthead-nav">
              <li><a href="http://open.fda.gov/api/reference/">OpenFDA</a></li>
              <li><a href="#search">Search</a></li>
              <li><a href="http://www.ogsystems.com/">OGSystems</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div>
        <div ui-view></div>
      </div>
    </div>
  </div>
</div>